<div class='business-show'>
  <div class="p-3 p-sm-5 mb-4 bg-light rounded-3 mb-4 bg-light rounded-3 shadow-sm position-relative bg-pattern-circuit">
    <div class="container-fluid py-5">
      <%= link_to 'Rediger', edit_business_path(@business), class: 'btn btn-outline-secondary bg-white position-absolute top-0 end-0 mt-3 me-3' if account_signed_in? && @current_business && @current_business == @business %>
      
      <%= image_tag business_logo(@business), class: 'rounded-circle position-absolute shadow-sm profile-picture' %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-8'>
      <div class='pt-5 p-3 p-md-5 about'>
        <div class='pb-3 pt-5'>
          <h1 class='tx-primary_brighter'><%= @business.name %></h1>
        </div>

        <hr>

        <div class='pt-3'>
          <div class='small-title'>OM</div>
          <%= @business.about %>
        </div>
      </div>
    </div>
    <div class='col-md-4'>
      <%= render 'businesses/details' %>
    </div>
  </div>
</div>