<div class='bg-white rounded shadow-sm p-3 details'>

  <div class='py-2'>
    <div class='small-title mb-2'>SPROG/FRAMEWORKS</div>
    <% @developer.programming_languages.each do |lang| %>
      <div class='bg-primary text-white rounded p-1 px-2 d-inline-block me-1 mb-1 shadow-sm'><%= lang %></div>
    <% end %>
  </div>
  <hr>
  <div class='py-2'>
    <div class='small-title mb-2'>ROLLER</div>
    <% $DEVELOPER_ROLE_TYPES.each do |role| %>
      <div class='pb-2 <%= role_types_color_class(@developer, role) %>'>
        <div class='pe-2 d-inline'>
          <i class="<%= fa_circle_class_for_role_types(@developer, role) %> fa-circle-check"></i>
        </div>
        <%= t "developers.role_types.#{role}" %>
      </div>
    <% end %>
  </div>
  <hr>
  <div class='py-2'>
    <div class='small-title mb-2'>LEVEL</div>
    <% $DEVELOPER_ROLE_LEVELS.each do |level| %>
      <div class='pb-2 <%= role_level_color_class(@developer, level) %>'>
        <div class='pe-2 d-inline'>
          <i class="<%= fa_circle_class_for_role_level(@developer, level) %> fa-circle-check"></i>
        </div>
        <%= t "developers.role_levels.#{level}" %>
      </div>
    <% end %>
  </div>
  <hr>
  <div class='py-2'>
    <div class='small-title mb-2'>SØGESTATUS</div>
    <% $DEVELOPER_SEARCH_STATUSES.first(2).each do |status| %>
      <div class='pb-2 <%= search_status_color_class(@developer, status) %>'>
        <div class='pe-2 d-inline'>
          <i class="<%= fa_circle_class_for_search_status(@developer, status) %> fa-circle-check"></i>
        </div>
        <%= t "developers.search_statuses.#{status}" %>
      </div>
    <% end %>
  </div>
  <hr>
  <div class='py-2'>
    <div class='small-title'>OMRÅDE</div>
    <%= @developer.city %>
  </div>
  <% if @developer.website || @developer.github %>
    <hr>
    <div class='small-title'>LINKS</div>
    <% if @developer.website %>
      <div class='py-2'>
        <div class='row'>
          <div class='col-2'>
            <%= image_tag '/images/website.png' %>
          </div>
          <div class='col-10 text-truncate'>
            <%= link_to @developer.website, target: :blank do %>
              <%= @developer.website.gsub('https://', '') %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <% if @developer.github %>
      <div class='py-2'>
        <div class='row'>
          <div class='col-2'>
            <%= image_tag '/images/github.png' %>
          </div>
          <div class='col-10 text-truncate'>
            <%= link_to @developer.github, target: :blank do %>
              <%= @developer.github.gsub('https://', '') %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
