<div class="static-bottom bg-primary_light d-none">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="<%= root_path %>" class="nav-link px-2 text-muted">Hjem</a></li>
      <li class="nav-item"><a href="<%= developers_path %>" class="nav-link px-2 text-muted">Udviklere</a></li>
      <li class="nav-item"><a href="<%= about_path %>" class="nav-link px-2 text-muted">Om</a></li>
    </ul>
    <p class="text-center text-muted">© 2022 DanskeUdviklere.dk</p>
  </footer>
</div>

<footer class="footer-bs">
  <div class="row">
    <div class="col-md-3">
    </div>

    <div class="col-md-3 footer-brand">
      <h2>DU</h2>
      <p></p>
      <p>© 2022 DanskeUdviklere.dk</p>
    </div>
    <div class="col-md-6 footer-nav">
      <div class="col-md-6">
        <ul class="pages">
          <li><i class="fa-solid fa-arrow-right-long pe-3 text-secondary"></i> <a href="<%= developers_path %>">Udvikler oversigt</a></li>
          <li><i class="fa-solid fa-arrow-right-long pe-3 text-secondary"></i> <a href="<%= about_path %>">Om</a></li>
          </ul>
        </div>
      <div class="col-md-6">
        <ul class="list">
        </ul>
      </div>
    </div>
    <div class="col-md-5">
    </div>
  </div>
</footer>