<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "accounts/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :kodeord, "Ny kode" %><br />
    <% if @minimum_password_length %>
      <em>(minimum <%= @minimum_password_length %> karakterer)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :bekræft_kodeord, "Bekræft ny kode" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
  </div>

  <div class="pt-3 text-end">
    <%= f.submit "Skift mit kodeord" %>
  </div>
<% end %>

<%= render "accounts/shared/links" %>
